*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}



/* #################### navbar ################ */
header{
    max-width: 1200px;   
    margin-left: 85px;
}
.navbar{
    display: flex;
    /* border: 2px solid red;   */
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.logo img{
    height: 100px;
    width: 100px;
}
.navbar .nav ul{
    list-style: none;
    display: flex;
    margin-left: 200px;
}
.navbar .nav ul li a{
    text-decoration: none;
    color:#e0806d ;
    font-weight: 800;
    font-size: 23px;
}
.navbar .nav ul li{
    margin-left: 30px;
}
.navbar .nav ul li a:hover{
    text-decoration: underline;
}
.font{
    font-size: 25px;
    margin-right: 35px;
}
.font i{
    margin-left: 50px;
    color: #383534;
}
.navbar .button{
    text-decoration: none;
    color: #383534;
    font-size: 20px;
    border: 2px solid #e0806d;
    padding: 5px;
    border-radius: 30px;
}
.main-header{
    background-image: url("https://foodhub.co.uk/compressed_images/home-banner-1.png");
    height: 450px;
    width: auto ;
    background-repeat: no-repeat;
    border: 2px solid red;
    background-position-x: 80%;
    background-position-y:45% ;
    position: relative;
}
.main-header-content{
    position: absolute;
    max-width: 50%;
    color: #fff;
}

.main-header-content h1{
    font-size: 50px;
    word-spacing: 20px;
    margin:40px 0 0 35px ;
}
.main-header-content p{
    font-size: 20px;
    margin: 20px 0 0 20px;
}
.main-header-button{
    background-color: #fff;
    display: inline-block;
    color:#383534 ;
    padding: 10px;
    border-radius: 20px;
}

/* ################### small menu ############# */

.small-menu{
    max-width: 1200px;
    margin: 50px 0 0 85px;
    display: flex;
    justify-content: space-around;
}

.small-menu .box1 img{
    width: 300px;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
    
}
.small-menu .box1:hover{
    transform: scale(1.03);
}

.small-menu .box1 h3 {
    margin: 15px 0 10px 15px;
}

.small-menu .box1 p{
    margin: 0 0 15px 15px ;
}

.small-menu .box2 a,
.small-menu .box1 a{
    text-decoration: none;
    color: #383534;
}
.small-menu .box2 img{
    width: 300px;
    height: 170px;
    border-radius: 20px 20px 0px 0px;
}
.small-menu .box2:hover{
    transform: scale(1.03);
}
.small-menu .box2 h3{
    margin: 15px 0 10px 15px;
}

.small-menu .box2 p{
    margin: 0 0 15px 15px ;
}

/* ################### large manu ############# */

.large-menu{
    max-width: 1200px;
    margin: 50px 0 0 85px;
    display: flex;
    justify-content: space-around;
}

.gola{
    width: 150px ;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    outline: 3px solid #e0806d;
    
}

.pra{
    margin-top: 10px;
    color: #383534;
    font-weight: 600;
}
.large-menu-heading{
    max-width: 1200px;
    margin: 50px 0 0 85px;
    font-size: 20px;
    color: #383534;
}
.large-menu a{
    text-decoration: none;
}

/* ################### large menu 2 ########### */

.large-menu-heading-2{
    max-width: 1200px;
    margin: 50px 0 0 85px ;
    font-size: 20px;
    color: #383534;
}

.large-menu2{
    max-width: 1200px;
    margin: 50px 0 0 85px;
    display: flex;
    justify-content: space-around;
}
.gola2{
    width: 150px ;
    height: 150px;
    border-radius: 50%;
    /* border: 5px solid #fff; */
    /* outline: 3px solid #e0806d; */
}
.pra2{
    margin-top: 10px;
    color: #383534;
    font-weight: 600;
}
.large-menu2 a{
    text-decoration: none;
}

.center{
    text-align: center;
}
.large-menu2 img{
    box-shadow: 3px 5px 5px #383534;
}


/* ################ main menu ########### */

.main-menu-heading{
    max-width: 1200px;
    margin: 50px 0 0 85px ;
    font-size: 20px;
    color: #383534;
}

.main-menu{
    max-width: 1200px;
    margin: 50px 0 0 85px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-menu .box1{
    width: 30%;

}
.main-menu .box2{
    width: 30%;

}
.main-menu .box3{
    width: 30%;

}
.main-menu .box4{
    width: 30%;
    margin-top: 40px;

}
.main-menu .box5{
    width: 30%;
    margin-top: 40px;

}
.main-menu .box6{
    width: 30%;
    margin-top: 40px;

}
.main-menu .box7{
    width: 30%;
    margin-top: 40px;

}
.main-menu .box8{
    width: 30%;
    margin-top: 40px;
    /* box-shadow: 5px 5px 5px #383534; */
}
.main-menu .box9{
    width: 30%;
    margin-top: 40px;

}
.main-menu .box10{
    width: 30%;
    margin-top: 40px;

}
.main-menu .box11{
    width: 30%;
    margin-top: 40px;
   
}
.main-menu .box12{
    width: 30%;
    margin-top: 40px;

}
.shape{
    width: 300px;
    height: 250px;
    border-radius: 20px;
}
.main-menu  p{
    font-size: 12px;
    display: inline;
}
.heading-shop{
    color: #383534;
    margin: 10px 0 5px 0px ;
}
.main-menu .box1 .p2{
    padding-left: 60px;
}
.main-menu .box2 .p2{
    padding-left: 40px;
}
.main-menu .box3 .p2{
    padding-left: 100px;
}
.main-menu .box4 .p2{
    padding-left: 100px;
}
.main-menu .box5 .p2{
    padding-left: 100px;
}
.main-menu .box6 .p2{
    padding-left: 100px;
}
.main-menu .box7 .p2{
    padding-left: 100px;
}
.main-menu .box8 .p2{
    padding-left: 100px;
}
.main-menu .box9 .p2{
    padding-left: 100px;
}
.main-menu .box10 .p2{
    padding-left: 100px;
}
.main-menu .box11.p2{
    padding-left: 100px;
}
.main-menu .box12 .p2{
    padding-left: 100px;
}


/* ############### footer ############# */

body{
    border: 1px solid red;
}
footer{
    background-color: lightblue;
}
.wrap{
    max-width: 1200px;
    margin: 50px 0 0 85px;
}
.footer1{
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 40px 10px ;
    color: #383534;
    padding-top: 50px;
    align-items: center;
}

.footer-heading{
    font-size: 70px;
}
.footer1 .list{
    font-size: 20px;
    align-items: center;
    align-content: center;
    padding: 5px;
    margin-left: 20px;
}

.footer2{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 10px 10px ;
    color: #383534;
}
.footer2 .box4 .link i{
    font-size: 25px;
    padding-left: 5px;
}
.pragraph .pra{
    padding-top: 20px;
} 